root = true

[*]
end_of_line = LF
indent_style = tab
tab_width = 4
trim_trailing_whitespace = true

[*.php]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8

[docker-compose.yml]
indent_style = space
indent_size = 2

[*.md]
exclude_files = README.md
